

html, body {
	margin: 0;
	background-color: rgb(31, 31, 31);
	color: white;
}

/* Round selectors */
.round {
	border-radius: 7px;
}

.round1 {
	border-radius: 15px;
}

.round2 {
	border-radius: 20px;
}

.round3 {
	border-radius: 25px;
}

.round4 {
	border-radius: 35px;
}

#navbar {
	background-color: rgb(25, 25, 25);
}

#navbar * {
	background-color: rgb(25, 25, 25);
}

.bio {
	margin-top: 55px;
	padding: 5px;
	background-color: rgb(20,20,20);
}

.bio-desc {
	padding-left: 13px;
}

.img-section {
	padding: 10px;
	margin-left: inherit;
	display: flex;
}